.calendar-container {
  margin-left: 282px;
  transition: margin-left 0.3s;
}

.calendar-container-collapse {
  margin-left: 100px;
}

.calendar-title {
  color: #182c21; /* Change the color of the title */
}

.fc-customPrev-button,
.fc-customNext-button {
  direction: ltr; /* Ensure the FontAwesome icon shows correctly */
  width: 50px; /* Adjust the width to accommodate the text */
}

.fc-customPrev-button,
.fc-customNext-button {
  display: block;
  width: 40px !important;
  height: 40px !important;
  background-color: #1c9c74  !important;
  border: none !important;
  cursor: pointer !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  margin-bottom: 10px !important;
  transition: background-color 0.2s !important;
  text-align: center !important;
}

.fc-today-button {
  display: block;
  width: 80px !important;
  height: 40px !important;
  background-color: #1c9c74  !important;
  border: none !important;
  cursor: pointer !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  transition: background-color 0.2s !important;
  text-align: center !important;
}

.fc-customPrev-button:hover,
.fc-customNext-button:hover,
.fc-today-button:hover {
  background-color: #54b080 !important;
}