.app-calendar {
    display: flex;
  }
  
  .calendar-sidebar {
    padding: 1rem;
    border-right: 1px solid #ccc;
    transition: width 0.3s ease-in-out;
    position: relative;
    width: 250px;
  }
  
  .calendar-sidebar.collapsed {
    width: 50px;
  }
  
  .calendar-sidebar button {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .calendar-sidebar h1,
  .calendar-sidebar h3 {
    margin-bottom: 1rem;
  }
  
  .sidebar-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .calendar-container {
    flex-grow: 1;
    padding: 1rem;
  }
  
  .calendar-container .mt-4 {
    margin-top: 0;
  }