/* Container for the sidebar */
.calendar-sidebar {
  width: 280px;
  min-height: 100vh;
  background-color: #4C6E75;
  position: fixed;
  overflow: auto;
  transition: width 0.3s;
  z-index: 1000;
}

.calendar-sidebar.collapsed {
  width: 100px;
}

.expand-collapse-btn {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #6F9C8D;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-size: 24px;
  transition: background-color 0.2s;
}

.expand-collapse-btn:hover {
  background-color: #5b827a;
}

.sidebar-content {
  padding: 20px;
}

.view-options button {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #6F9C8D;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
}

.view-options button:hover {
  background-color: #5b827a;
}

.settings-logout button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #AAB2B9;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
}

.settings-logout button:hover {
  background-color: #8d9aa0;
}
