/* Container for the sidebar */
.calendar-sidebar {
  width: 280px;
  height: 100vh;
  background-color: #a6d5be;
  position: fixed;
  overflow: auto;
  transition: width 0.3s;
  z-index: 1000;
}

.calendar-sidebar.collapsed {
  width: 100px;
}

.expand-collapse-btn {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #54b080;
  color: #1f2e21;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-size: 24px;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.expand-collapse-btn:hover {
  background-color: #54b08098;
}

.view-options button {
  display: block;
  width: 50%;
  height: 40px;
  background-color: #1c9c74;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.view-options button:hover {
  background-color: #1c9c739a;
}

.divider {
  height: 2px; 
  background-color: #ffffff; 
  margin: 20px 0;  
}

.settings-logout button {
  display: block;
  width: 50%;
  height: 40px;
  background-color: #182c21;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.settings-logout button:hover {
  background-color: #182c21bd;
}

.task-settings button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #08a873;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.task-settings button:hover {
  background-color: #08a873ab;
}

.calendar-sidebar.collapsed .view-options button span,
.calendar-sidebar.collapsed .settings-logout button span {
  display: none;
}

.calendar-sidebar.collapsed .view-options button .collapsed,
.calendar-sidebar.collapsed .settings-logout button .collapsed {
  display: inline-block;
}
