/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global font settings */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

/* Global color scheme */
.blue {
  color: #30a6d6;
}

.pink {
  color: #ca9998;
}

.g-light {
  color: #a6d5be;
}

.g-med {
  color: #54b080;
}

.g-dark {
  color: #1c9c74;
}

.g-darkest {
  color: #182c21;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}


/* Buttons */
.rounded-button {
  display: block;
  width: 50%;
  height: 40px;
  background-color: #6f7a9c;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
  
.rounded-button:hover {
  background-color: #3a70b2;
}

/* Other */
.divider {
  height: 2px; 
  background-color: #ffffff; 
  margin: 20px 0;  
}

input[type='form-input'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.centred {
  text-align: center;
}