/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global font settings */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #333;
  line-height: 1.6;
}

/* Global color scheme */
.blue {
  color: #30a6d6;
}

.pink {
  color: #ca9998;
}

.g-light {
  color: #a6d5be;
}

.g-med {
  color: #54b080;
}

.g-dark {
  color: #1c9c74;
}

.g-darkest {
  color: #182c21;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}


/* Buttons */
.rounded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #a6d5be;
  border: none;
  cursor: pointer;
  color: #333;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.rounded-button:hover {
  background-color: #54b080;
}

/* Other */
.divider {
  height: 2px; 
  background-color: #ffffff; 
  margin: 20px 0;  
}

.divider-clear {
  height: 2px; 
  margin: 30px 0;  
}

.centred {
  text-align: center;
}


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form input {
    width: 100%;
    max-width: 320px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #e0e0e0;
    border-radius: 30px;
  }
  
  .input-field {
    width: 100%;
    max-width: 320px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #e0e0e0;
    border-radius: 30px;
  }

  
  .submit { /*Submit button at the bottom of the form*/
    display: block;
    width: 100px;
    height: 40px;
    background-color: #38a581;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 25px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s;
  }

  .submit:hover{
    background-color: #54b080;
  }

  textarea {
    width: 100%;
    max-width: 320px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
  }