.login-signup-container {
    display: flex;
    height: 100vh;
  }
  
.login-container {
  flex: 2;
  background-color: #f8f9fa;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container {
  flex: 1;
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider span {
  padding: 0 10px;
}

.divider:before,
.divider:after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.submit-signup { /*Submit button at the bottom of the form*/
  display: block;
  width: 100px;
  height: 40px;
  background-color: #30a6d6;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.2s;
}

.submit-signup:hover{
  background-color: #30a7d6c5;
}
