.login-signup-container {
    display: flex;
    height: 100vh;
  }
  
.login-container {
  flex: 2;
  background-color: #f8f9fa;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container {
  flex: 1;
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider span {
  padding: 0 10px;
}

.divider:before,
.divider:after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}