/* SettingsPage.css */

/* Container for the settings page */
.settings-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff; 
  color: #333; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reset password and support buttons */
.reset-password-button, .support-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 340px; 
  height: 40px;
  background-color: #30a6d6; /* Change button color */
  border: none;
  cursor: pointer;
  color: #ffffff; 
  border-radius: 25px; 
  margin: 10px auto;
  text-align: center; /* Center the text */
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

/* Styles for the icons and the text next to them */
.settings-icon {
  margin-right: px;
  color: #333;
}

.settings-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.settings-label span {
  margin-left: 10px;
}

/* Styles for the binary slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b43939;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left:
  7px;
  bottom: 10px;
  top: 4px;
  right: 10px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #54b47c;
}

input:focus + .slider {
  box-shadow: 4 4 1px #5a6875;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Style for the dropdowns */
.dropdown {
  margin-left: 10px;
  padding: 5px;
  border-radius: 100px;
}

/* Style for the range slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
