/* SignUp.css */
.social-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .social-buttons button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    color: #888; /* Add this line to set a default icon color */
    cursor: pointer;
  }  

  .facebook-btn:hover {
    background-color: #145599;
    color: #fff;
  }
  
  .google-btn:hover {
    background-color: #b63a27;
    color: #fff;
  }
  
  .twitter-btn:hover {
    background-color: #198ed6;
    color: #fff;
  }
  
  .linkedin-btn:hover {
    background-color: #006192;
    color: #fff;
  }
  
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .separator span {
    padding: 0 10px;
  }
  
  form button[type="eye"] { /*For the Eye icons next to the passwords*/
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 30px;
    color: #888;
  }
  
  .password-input {
    display: flex;
    align-items: center;
  }

  .submit { /*Submit button at the bottom of the form*/
    display: block;
    width: 100px;
    height: 40px;
    background-color: #38a581;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 25px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s;
  }

  .submit:hover{
    background-color: #54b080;
  }